# Project stuff
.idea

# Virtualenv
blogpy_venv

# Database
db.sqlite3

# Migrations
blog/migrations

# env files
.env

# Static Files
files/

# Location of STATIC FILES related to command python manage.py collectstatic
static_root/

# static css , javascrips , html files
static/